
<h1>Games Being Tracked</h1>
<a class="btn btn-primary" aria-current="page" href="/games/mine">Check out my games</a>

<section class='row card-group rounded-3'>
    {{#each games}}
        <div class='col-lg-6 col-lg-4 mb-3'>
            <div class='card mb-4 h-100'>
                <div class='card-body rounded-3'>
                    <div>
                        {{!-- iframe element used to embed youtube videos for each available trailer --}}
                        <iframe class='responsive-iframe' src='https://www.youtube.com/embed/{{this.trailer}}'></iframe>
                    </div>
                    <div>
                        <h3>{{this.name}}</h3>
                        <h4>{{this.dev}}</h4>
                        <p><strong>{{this.platform}}</strong></p>
                        <p><strong>Release Date: </strong>{{this.releaseDate}}</p>
                        <p><strong>Hour Played: </strong>{{this.timePlayed}}</p>
                        <p>{{this.purchased}}</p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</section>