<h1>Your Games</h1>
<a class="btn btn-primary active" aria-current="page" href="/games/create">Add to my games</a>
<a class="btn btn-primary active" aria-current="page" href="/games/">Back to the main list</a>

<section class='row card-group rounded-3'>
    {{#each games}}
        <div class='col-lg-6 col-lg-4 mb-3'>
            <div class='card mb-4 h-100'>
                <div class='card-body rounded-3'>
                    <div class='float-start'>
                        {{!-- iframe element used to embed youtube videos for each available trailer --}}
                        <iframe src='https://www.youtube.com/embed/{{this.trailer}}'></iframe>
                    </div>
                    <div class='float-start'></div>
                        <h3>{{this.name}}</h3>
                        <h4>{{this.dev}}</h4>
                        <p><strong>{{this.platform}}</strong></p>
                        <p><strong>Release Dtae: </strong>{{this.releaseDate}}</p>
                        <p><strong>Hour Played: </strong>{{this.timePlayed}}</p>
                        <p>{{this.purchased}}</p>
                        {{#if ../user}}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Options...
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href='/games/edit/{{this._id}}'>Edit Game Info</a></li>
                                    <li><a class="dropdown-item" href="/games/delete/{{this._id}}" onclick='return gameDeleteConfirm()'>Delete This Game</a></li>
                                </ul>
                            </div>
                        {{else}}
                            <p>Log in to add your own</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</section>